        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background-color: #FEDC0B;

        }

        #navbar {
            border-radius: 5px;
            border: 1px solid black;
            padding: 10px;
            background-color: #FC523B;
            display: flex;
            margin: 1%;

        }

        .links {
            text-align: right;
            margin-left: auto;
            padding: 10px;
            display: flex;
            justify-content: space-around;
        }

        .link {
            margin: 10px;
            text-decoration: none;
            padding: 10px;
        }

        #offers {
            padding: 10px;
            margin: 1%;
            background-color: #FFA513;
            border: 1px solid black;
            border-radius: 5px;
        }

        #services {
            padding: 10px;
            margin: 1%;
            background-color: #FF7E2D;
            border: 1px solid black;
            border-radius: 5px;

        }

        .images {
            text-align: right;
            margin-left: auto;
            padding: 10px;
            display: flex;
            justify-content: space-around;
        }

        .offer {
            margin: 10px;
            border-radius: 2px;
            overflow: auto;
            background-color: aliceblue;
            text-align: left;
        }

        #footer {
            border: 1px solid black;
            margin: 1%;
            padding: 10px;
            display: flex;
            border-radius: 5px;
            background-color: #F2F079;
        }

        table,
        td {
            border: 1px solid black;
        }

        #liltable {
            text-align: right;
            margin-left: auto;
            padding: 10px;
            display: flex;
            justify-content: space-around
        }

        #welcome {
            margin-left: auto;
            margin-right: auto;
            border: 2px solid black;
            width: 474px;
            height: 316px;

        }

        .form {
            text-align: center;
        }

        button {
            margin: 10px;
            border-radius: 2px;
        }

        #plans {
            background-color: aliceblue;
            display: flex;
            margin-left: 30%;
            margin-right: 30%;
            justify-content: space-around;
            border: 2px solid black;

        }

        ul {
            text-align: left;
            border: 2px solid black;
        }

        .plan {
            border: 2px solid black;
            margin: 10px;
            text-align: center;
            padding: 10px;
            width: 30%;
        }

        .plan-buttons {
            margin-top: 10px;
        }

        input {
            margin: 5px;
        }

        #faq {
            border: 2px solid black;
            background-color: aliceblue;
        }

        .pergunta {
            border: 2px solid black;
            margin: 10px;
            padding: 10px;
            background-color: #FF7E2D;
        }